doc/.~*
tmp/*
log/*
deploy/*
outcmaes*
variablescmaes.mat
*.asv
*~
*.swp
*.tgz
*.zip
*.gz
exp/experiments/*/
exp/pproc/generated_scripts
exp/pproc/scripts/html/
exp/pproc/scripts/tmp/
exp/pproc/tex/
exp/pproc/compAlgMat.mat*
*.aux
*.bbl
*.blg
doc/*/*.log
doc/*/*.out
doc/*/*.pdf
tags
ownUtil/
doc/gecco2015workshop/ppdata/
exp_*.o[0-9][0-9][0-9]*
exp_*.e[0-9][0-9][0-9]*
